@charset "utf-8";
[class^="icon-"] {width:1em;height:1em;}
.icon-clipboard {
    display: inline-block;
    content: url(./clipboard.svg);
}
.dark {background-color:#000; color:#fff; fill:#fff; stroke:#fff;}
.light {background-color:#fff; color:#000; fill:#000; stroke:#000;}

