@charset "utf-8";
[class^="icon-"] {width:1em;height:1em;}
.icon-clipboard {
    display: inline-block;
    mask-image: url(./clipboard.svg);
    background-color: green;
}
/*背景*/
:not(i,img,span,p).dark {background-color:#000; color:#fff;}
:not(i,img,span,p).light {background-color:#fff; color:#000;}
/*mask-imageにおける前景色をbackgorund-colorで設定する（紛らわしい）*/
i.dark, img:dark, span.dark, p.dark {background-color:#fff;}
i.light, img:light, span.light, p.light {background-color:#000;}

